.main-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.header-container {
  height: var(--header-height);
  flex-shrink: 0;
}

.content-container {
  flex: 1 0 auto;
  margin: 3% 10%;
  // margin: 0 1em;
  // margin: 0 5em;
  // max-width: 90%;
}