.main-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.header-container {
  height: var(--header-height);
  flex-shrink: 0;
}

.content-container {
  flex: 1 0 auto;
  margin: 2em;
  @media only screen and (min-width: 600px) {
    margin: 5% 10%
  }
}
