<div class="modal-content">
  <div class="modal-body">
    <div *ngIf="serverName === 'vanilla'">
      <ul>
        <li>For players who are passionate about long term projects</li>
        <li>Hard Difficulty</li>
        <li>Aim towards a single player experience</li>
        <li>Regular Backups</li>
        <li>Never gets reset</li>
        <li>World border starts at 10k and expand per server versions</li>
        <li>Runs Fabric for optimal performance and vanilla parity</li>
        <li>Started on October 22nd, 2021</li>
      </ul>
    </div>
    <div *ngIf="serverName === 'seasonal'">
      <ul>
        <li>For players who love the fresh world feeling after each version</li>
        <li>Hard Difficulty</li>
        <li>Community-driven data packs/mods</li>
        <li>Aim towards a socializing experience</li>
        <li>Regular Backups</li>
        <li>Gets resets per season with map download available</li>
        <li>World border stays at 10k and does not expand</li>
        <li>Runs Fabric for optimal performance and vanilla parity</li>
        <li>Started on March 11th, 2022</li>
      </ul>
    </div>
  </div>
</div>
