<h1 class="first-child">Rules</h1>

<h2>Gameplay Rules</h2>

<h3>Redstone and Farms</h3>
<ul>
  <li>If either redstone or farm causes lag make it less complex</li>
  <li>Redstone must have a on/off switch</li>
  <li>Make sure to avoid large hopper chains. Use water streams and bubble columns where possible</li>
  <li>Lock unused hoppers by placing a full block over the hopper</li>
  <li>Farms must have overflow protection, to destroy excess items.</li>
  <li>Limit farms to 100 entities per farm</li>
  <li>Chunk suppression and mob switches are <b>NOT</b> allowed</li>
</ul>

<h3>Glitch/Bugs/Dupes</h3>
<ul>
  <li>Any undecided glitch/dupe will be voted by the community</li>
  <li><b>ONLY</b> TNT duping is allowed for the time being</li>
</ul>

<h3>Mark player base</h3>
<ul>
  <li>Use a visible sign or bookstand with your username to signify that it is your base</li>
  <li>Make sure to claim your base by posting the coordinates in the #share-builds channel to avoid claims issues</li>
  <li>No building within 100 blocks of another base without consent</li>
</ul>

<h3>Griefing</h3>
<ul>
  <li>No griefing unless explicit confirmation from the owner that they are not coming back to the server/ not using
    thatbase anymore</li>
  <li>When players leave the server their base/builds are considered abandoned</li>
  <li>There are no roll-backs (Fire-Tick is on)</li>
</ul>

<h2>Social Rules</h2>

<h3>Treat everyone equally</h3>
<ul>
  <li>Do not discriminate against anyone in any way, shape or form</li>
</ul>

<h3>PvP</h3>
<ul>
  <li>If both parties agree, then PvP is allowed</li>
</ul>

<h3>Pranking</h3>
<ul>
  <li>Do it in moderation</li>
  <li>Do not be a dick</li>
  <li>Do it responsibly (This includes PvP and PvE engagement too)</li>
  <li>Consult with Moderation Team if unsure</li>
</ul>

<h3>Offensive/NSFW Content</h3>
<ul>
  <li>Only allowed in #pillow-talk</li>
  <li>Allowed in moderation, be mindful of others and their views</li>
</ul>

<h3>Advertisement</h3>
<ul>
  <li>Ask the mods before advertising</li>
  <li>No Twitch advertising without asking mods</li>
  <li>Deliberately advertising is not allowed</li>
  <li>If allowed to advertise do in moderation</li>
</ul>

<h3>Appropriate username/skin</h3>
<ul>
  <li>Players with inappropriate usernames will be asked to change their username</li>
  <li>Players with inappropriate skins will be asked to change their skin</li>
  <li>Players are encouraged to nickname themselves in Discord to their Minecraft IGN or closely related to their IGN
  </li>
</ul>

<h3>Visiting another member's base</h3>
<ul>
  <li>Do not grief/steal</li>
  <li>Leave if owner thinks the visit is unwelcomed</li>
</ul>


<h3>Threats</h3>
<ul>
  <li>Any type of threat such as DDOS, Blackmail, Hacking, Bullying will not be tolerated</li>
  <li>File a complaint or dm any of the Family Managers if needed</li>
</ul>


<h3>Drama</h3>
<ul>
  <li>Any drama on the server will result in a removal from the community</li>
  <li>Take it to DM if necessary</li>
</ul>


<h3>Controversial Topics</h3>
<ul>
  <li>This includes Political, Religious, Gender Rights, etc must be discussed in private dm/group chat</li>
</ul>

<h3>Multiple Accounts</h3>
<ul>
  <li>The player who is sharing an account with their family or friends must consult with the Moderation Team, before
    joining the server</li>
</ul>

<h3>Lying</h3>
<ul>
  <li>Lying will not be tolerated and result in removal from the community</li>
  <li>False accusation of other player's actions will result in removal from the community</li>
</ul>


<h3>Game Modification</h3>
<ul>
  <li>QoL client-side mods are allowed</li>
  <li>Any mod that gives the player an unfair advantage over other players are not allowed</li>
  <li>Ask Family Managers if unsure (See also Recommended Mods)</li>
</ul>


<h3>Majority Vote</h3>
<ul>
  <li>If the majority decided that a certain player is not deemed fit to be part of the community, they will be removed
  </li>
  <li>This can be done by starting a poll or by filing a complaint</li>
</ul>


<h3>Recommended Mods</h3>
<ul>
  <li>
    <a href="https://www.curseforge.com/minecraft/modpacks/nostalgik-vanillas-modpack">nostalgik vanillas modpack</a>
  </li>
  <li>Optifine/Sodium</li>
  <li>Litematica</li>
  <li>Xaero's Minimap & World Map & Voxel</li>
</ul>
