<h1>Rules</h1>

<h2>Gameplay Rules</h2>

<h3>Redstone and Farms</h3>
- If either redstone or farm causes lag make it less complex - Redstone must
have a on/off switch - Make sure to avoid large hopper chains. Use water streams
and bubble columns where possible - Lock unused hoppers by placing a full block
over the hopper - Farms must have overflow protection, to destroy excess items.
- Limit farms to 100 entities per farm - Chunk suppression and mob switches are
***NOT*** allowed

<h3>Glitch/Bugs/Dupes</h3>
- Any undecided glitch/dupe will be voted by the community - ***ONLY*** TNT
duping is allowed for the time being

<h3>Mark player base</h3>
- Use a visible sign or bookstand with your username to signify that it is your
base - Make sure to claim your base by posting the coordinates in the
#share-builds channel to avoid claims issues - No building within 100 blocks of
another base without consent

<h3>Griefing</h3>
- No griefing unless explicit confirmation from the owner that they are not
coming back to the server/ not using that base anymore - When players leave the
server their base/builds are considered abandoned - There are no roll-backs
(Fire-Tick is on)

<h2>Social Rules</h2>

<h3>Treat everyone equally</h3>
- Do not discriminate against anyone in any way, shape or form

<h3>PvP</h3>
- If both parties agree, then PvP is allowed

<h3>Pranking</h3>
- Do it in moderation - Do not be a dick - Do it responsibly (This includes PvP
and PvE engagement too) - Consult with Moderation Team if unsure

<h3>Offensive/NSFW Content</h3>
- Only allowed in #pillow-talk - Allowed in moderation, be mindful of others and
their views

<h3>Advertisement</h3>
- Ask the mods before advertising - No Twitch advertising without asking mods -
Deliberately advertising is not allowed - If allowed to advertise do in
moderation

<h3>Appropriate username/skin</h3>
- Players with inappropriate usernames will be asked to change their username -
Players with inappropriate skins will be asked to change their skin- Players are
encouraged to nickname themselves in Discord to their Minecraft IGN or closely
related to their IGN

<h3>Visiting another member's base</h3>
- Do not grief/steal - Leave if owner thinks the visit is unwelcomed

<h3>Threats</h3>
- Any type of threat such as DDOS, Blackmail, Hacking, Bullying will not be
tolerated - File a complaint or dm any of the Family Managers if needed

<h3>Drama</h3>
- Any drama on the server will result in a removal from the community - Take it
to DM if necessary

<h3>Controversial Topics</h3>
- This includes Political, Religious, Gender Rights, etc must be discussed in
private dm/group chat

<h3>Multiple Accounts</h3>
- The player who is sharing an account with their family or friends must consult
with the Moderation Team, before joining the server

<h3>Lying</h3>
- Lying will not be tolerated and result in removal from the community - False
accusation of other player's actions will result in removal from the community

<h3>Game Modification</h3>
- QoL client-side mods are allowed - Any mod that gives the player an unfair
advantage over other players are not allowed - Ask Family Managers if unsure
(See also Recommended Mods)

<h3>Majority Vote</h3>
- If the majority decided that a certain player is not deemed fit to be part of
the community, they will be removed - This can be done by starting a poll or by
filing a complaint

<h3>Recommended Mods</h3>
-
<a
  href="https://www.curseforge.com/minecraft/modpacks/nostalgik-vanillas-modpack"
  >nostalgik vanillas modpack</a
>
- Optifine/Sodium - Litematica - Xaero's Minimap & World Map & Voxel
