<p class="first-child">
  Hello, my name is Jack and I am 24 years old. I currently work full-time and
  am also a part-time student.
</p>
<p>
  Since 2012, running a Minecraft server was a big passion of mine. Throughout
  those years I have gained experience in what makes a great Minecraft server.
</p>
<p>
  This has inspired me to create a community where there are no worries about
  other players disrupting your fun. So I got up and created the server,
  Nostalgik Vanilla on October 22, 2021; a private server for ages 21 and up.
</p>
<p>
  Unlike other servers, this one has a strong emphasis on Family and being
  Semi-Active Friendly. When you join this server, everyone will get treated
  like a family and there is a good reason behind that. After you get
  whitelisted, you will never be removed for being inactive unless that you
  decided to leave the community.
</p>
<p>
  As I have a full-time job, that allows me to keep it running for a very long
  time. That means if you have a busy life and are unable to hop on for months,
  this server will always be here for you. We are here to stay, unlike other
  servers that usually die down.
</p>
<p class="last-child">
  Sure you can go ahead and be active on other servers, I do not mind, but you
  will forever be a part of a community and a family right here in Nostalgik
  Vanilla server.
</p>

<div class="btns-container">
  <button (click)="showServerInfo('vanilla')" class="button-1">Vanilla</button>
  <button (click)="showServerInfo('seasonal')" class="button-2">
    Seasonal
  </button>
</div>
