.btns-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  button {
    padding: 10px 20px;
    border: 1px solid #24df3c;
    margin: 0 40px;
    border-radius: 5px;
    font-size: 20px;
    width: 200px;

  }

  .button-1 {
    background: #24df3c;
    color: #fff;
  }

  .button-2 {
    background: #fff;
    color: #24df3c;
  }
}